---
import Layout from "../layouts/Layout.astro";
import Layout2 from "../layouts/Layout2.astro";

---

<Layout title="Eventos">
    <Layout2
      imageurl="../../public/Purple Blue Colorful Gaming LinkedIn Banner.png"
      title="¿QUE HACEMOS?"
      subtitle="Playstation 4 | Playstation 5 | XBOX Series | TV 43” | Bases moviles para TV"
      description=""
      About="Eventos Privados"
    >
      <li slot="list">
        Llevamos toda la producción que incluye: Pendón temático de fondo con la
        imágen del videojuego de tu interés, iluminación tipo dj, televisores de
        43" con bases móviles, consola a elegir; xbox one, ps4, ps5.
      </li>
      <li slot="list">
        Servicio desde 3 horas efectivas personal capacitado que sanitiza el
        equipo constantemente, gestiona equipos de juego y apoya a los invitados
        para que no pierdan un solo minuto de diversión
      </li>
    </Layout2>

    <Layout2
      imageurl="../../public/Purple Blue Colorful Gaming LinkedIn Banner(1).png"
      title="¿Cómo participar?"
      subtitle="Nuestros eventos en línea son más que simples torneos. Son encuentros que te desafían, te hacen superar tus límites y te permiten demostrar tus habilidades a nivel competitivo. Únete a nuestros torneos para enfrentarte a otros jugadores talentosos, conocer nuevos amigos y compartir la pasión por los videojuegos."
      description=""
      About="Eventos Online"
    >
      <li slot="list">
        Explora nuestros próximos eventos: Visita nuestra página de eventos para conocer los próximos torneos y las fechas de inscripción.
      </li>
      <li slot="list">
        Regístrate: Apúntate a los eventos que te interesen y asegura tu lugar en la competición.
      </li>
      <li slot="list">
        ¡Juega y diviértete!: Una vez que el evento comience, únete a la partida, compite con determinación y disfruta del juego al máximo.
      </li>
      <li slot="list">
        ¡Celebra tu éxito!: Si te destacas y alcanzas la gloria, recibirás tu merecido reconocimiento y, posiblemente, emocionantes premios.
      </li>
    </Layout2>
</Layout>