---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Buttonplay from "../components/shared/Buttonplay.astro";
import HerobgimageLayout from "../layouts/HerobgimageLayout.astro";
import { Image } from "astro:assets";
import BANNEROSCURO from "../../public/BANNER-OSCURO-.png";
import PS5LOGO from "../../public/PS5.png";
import XBOXSERIESXLOGO from "../../public/XBOX-SERIES-X-.png";
import Bannertwitch from "../../public/BannerTwitch.png";
import Noticiascard from "../components/Noticiascard.astro";
import Layout2 from "../layouts/Layout2.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-10 justify-center items-center">
    <HerobgimageLayout
      IURL="https://i.pinimg.com/236x/93/d4/d5/93d4d5d484d0331bd52ff1be48bb9cdf.jpg"
    >
      <div
        class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center justify-center text-center"
      >
        <p
          class="mb-8 text-center font-extrabold text-white uppercase md:text-3xl text-xl antialiased tracking-wide break-words"
        >
          Especialízate en formación profesional del E-SPORT. Desarrolla tu
          carrera en el GAMING con expertos que comparten tu pasión
        </p>
        <div class="flex justify-center w-3/5 self-center">
          <Buttonplay texto="Ver Programa Academico" />
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-full flex justify-center">
        <iframe
          class="self-center rounded-lg shadow-xl hover:-translate-y-4 transition-all hover:ring-2 md:h-96 h-60 md:w-full"
          src="https://www.youtube.com/embed/A1YMsfIhIi8"
          title="EVE Online | Mercenarios, los dioses del campo de batalla"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </HerobgimageLayout>

    <HerobgimageLayout IURL="../../public/BANNER-OSCURO-.png">
      <div
        class="p-10 grid place-content-center place-items-center md:grid-cols-1 h-full"
      >
        <div class="flex flex-col items-center justify-center gap-10">
          <p
            class="text-white font-extrabold uppercase antialiased tracking-normal break-words md:text-6xl text-2xl text-center"
          >
            SEREMOS TUS ALIADOS EN TORNEOS, EVENTOS Y VIDEO JUEGOS
          </p>

          <p
            class="text-white font-bold uppercase antialiased tracking-normal break-words mdtext-2xl text-lg md:text-center text-justify"
          >
            Disfruta de las nuevas generaciones de juegos desde su día de
            lanzamiento, celebra tu evento o cumpleaños, activa tu marca y únete
            a nuestra comunidad.
          </p>
          <div class="md:flex hidden w-full justify-around">
            <Image src={PS5LOGO} alt="PS5" class="w-1/6" />
            <Image src={XBOXSERIESXLOGO} alt="XBOX SERIES X" class="w-1/6" />
          </div>
        </div>
      </div>
    </HerobgimageLayout>

    <Layout2
      imageurl="../../public/BannerTwitch.png"
      title="¿QUE HACEMOS?"
      subtitle="Playstation 4 | Playstation 5 | XBOX Series | TV 43” | Bases moviles para TV"
      description="Tenemos toFdo lo necesario para ambientar de manera diferente los eventos de tu empresa"
      About="Renta Empresarial"
    >
      <li slot="list">
        Juegos de tendencia: Tenemos una amplia selección de juegos populares y
        de tendencia que se adaptan a diferentes gustos y edades, asegurando que
        todos encuentren algo que les apasione
      </li>
      <li slot="list">
        Configuración y soporte técnico: Nuestro equipo se encarga de la
        instalación y configuración de los equipos, así como de brindar soporte
        técnico durante el evento para garantizar un funcionamiento sin
        problemas.
      </li>
      <li slot="list">
        Experiencia inolvidable: Nuestra renta empresarial de equipos de
        videojuegos ofrece una experiencia inmersiva y emocionante que fomenta
        el compañerismo, la competencia amistosa y la interacción entre los
        empleados.
      </li>
      <li slot="list">
        Flexibilidad: Adaptamos nuestros servicios a tus necesidades
        específicas, ya sea para un evento de medio día o para una renta a largo
        plazo.
      </li>
    </Layout2>

    <section>
      <div class="w-full p-10 flex flex-col items-center justify-center">
        <h1 class="text-white font-bold text-6xl">Noticias</h1>
        <div
          class="w-full p-20 grid grid-cols-1 place-items-center md:grid-cols-3 gap-10 grid-rows-auto place-content-center"
        >
          <Noticiascard
            titulo="Gaming femenino"
            descripcion="En un mundo donde la inclusión y la diversidad son cada vez más importantes. Las mujeres gamers están conquistando terreno, derribando estereotipos y destacando en competiciones de videojuegos a nivel mundial."
          />
          <Noticiascard
            titulo="Gaming femenino"
            descripcion="En un mundo donde la inclusión y la diversidad son cada vez más importantes. Las mujeres gamers están conquistando terreno, derribando estereotipos y destacando en competiciones de videojuegos a nivel mundial."
          />
          <Noticiascard
            titulo="Gaming femenino"
            descripcion="En un mundo donde la inclusión y la diversidad son cada vez más importantes. Las mujeres gamers están conquistando terreno, derribando estereotipos y destacando en competiciones de videojuegos a nivel mundial."
          />
        </div>
      </div>
    </section>

    <Layout2
      imageurl="../../public/Purple Blue Colorful Gaming LinkedIn Banner.png"
      title="¿QUE HACEMOS?"
      subtitle="Playstation 4 | Playstation 5 | XBOX Series | TV 43” | Bases moviles para TV"
      description=""
      About="Eventos Privados"
    >
      <li slot="list">
        Llevamos toda la producción que incluye: Pendón temático de fondo con la
        imágen del videojuego de tu interés, iluminación tipo dj, televisores de
        43" con bases móviles, consola a elegir; xbox one, ps4, ps5.
      </li>
      <li slot="list">
        Servicio desde 3 horas efectivas personal capacitado que sanitiza el
        equipo constantemente, gestiona equipos de juego y apoya a los invitados
        para que no pierdan un solo minuto de diversión
      </li>
    </Layout2>

    <Layout2
      imageurl="../../public/Purple Blue Colorful Gaming LinkedIn Banner(1).png"
      title="¿Cómo participar?"
      subtitle="Nuestros eventos en línea son más que simples torneos. Son encuentros que te desafían, te hacen superar tus límites y te permiten demostrar tus habilidades a nivel competitivo. Únete a nuestros torneos para enfrentarte a otros jugadores talentosos, conocer nuevos amigos y compartir la pasión por los videojuegos."
      description=""
      About="Eventos Online"
    >
      <li slot="list">
        Explora nuestros próximos eventos: Visita nuestra página de eventos para conocer los próximos torneos y las fechas de inscripción.
      </li>
      <li slot="list">
        Regístrate: Apúntate a los eventos que te interesen y asegura tu lugar en la competición.
      </li>
      <li slot="list">
        ¡Juega y diviértete!: Una vez que el evento comience, únete a la partida, compite con determinación y disfruta del juego al máximo.
      </li>
      <li slot="list">
        ¡Celebra tu éxito!: Si te destacas y alcanzas la gloria, recibirás tu merecido reconocimiento y, posiblemente, emocionantes premios.
      </li>
    </Layout2>

  </main>
</Layout>



<style>
  .brillosombra:hover {
    -webkit-box-shadow: 0px 0px 40px 2px rgba(199, 0, 106, 1);
    -moz-box-shadow: 0px 0px 40px 2px rgba(255, 84, 255, 1);
    box-shadow: 0px 0px 40px 2px rgba(255, 84, 255, 1);
  }
</style>
